.ng-enter, .ng-leave {
  -webkit-transition: 0.5s linear all; /* Safari/Chrome */
  -moz-transition: 0.5s linear all; /* Firefox */
  -o-transition: 0.5s linear all; /* Opera */
  transition: 0.5s linear all; /* IE10+ and Future Browsers */
}

.reveal-animation.ng-enter {
 opacity: 0;
}
 
.reveal-animation.ng-enter.ng-enter-active {
 opacity: 1;
}

.reveal-animation.ng-leave {
  left: 0;
  position: absolute;
}

.reveal-animation.ng-leave.ng-leave-active {
  left: 100%;
  position: absolute;
}

