<!DOCTYPE html>
<html ng-app="myKeolis">
  <head>
    <title>myKeolis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/animations.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarCtrl">
      <div class="container">
        <a class="navbar-brand title" href="#/"><span class="my">my</span><span class="keolis">Keolis</span></a>
        <button ng-show="currentPath === '/'" type="button" ng-click="showNewItemView()" class="btn btn-default navbar-btn pull-right">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-show="currentPath === '/new'" type="button" ng-disabled="!newRecord.line || !newRecord.stop" ng-click="saveNewRecord()" class="btn btn-default navbar-btn pull-right">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </nav>

    <div class="container content">
      <div class="row">
        <div ng-view class="col-md-12"></div>
      </div>
    </div>

    <script type="text/ng-template" id="home.html">
      <div ng-repeat="r in records" ng-init="autoUpdateRecordSchedule(r)">
        <div class="row keolis-record">
          <div class="col-md-12">
            <button type="button pull-right" ng-click="removeRecord(r)" class="close" aria-hidden="true">&times;</button>
            <b>Ligne <span ng-bind="r.line.nom"></span> - Direction <span ng-bind="r.line.vers"></span><b>
            <ul>
              <li ng-repeat="s in r.schedules" ng-bind="s.duree"></li>
            </ul>
            <p ng-hide="r.schedules && r.schedules.length">
              <i>Aucune information pour le moment :(</i>
            </p>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="new-item.html">
      <div class="row">
        <div class="col-md-12">
          <form role="form">
            <div class="form-group">
              <label for="lineSelect">Ligne</label>
              <select class="form-control" ng-disabled="!lines" ng-model="newRecord.line" ng-options="'Ligne ' + l.nom + ' -> ' + l.vers for l in lines" id="lineSelect">
              </select>
            </div>
            <div class="form-group">
              <label for="stopSelect">Arrêt</label>
              <select class="form-control" ng-disabled="!stops" ng-model="newRecord.stop" ng-options="s.nom for s in stops" id="stopSelect">
              </select>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/Angular-localStorage/src/localStorage.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/firefoxos.js"></script>
    <script src="js/mykeolis.js"></script>

  </body>
</html>